<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
	  <TargetFramework>net6.0</TargetFramework>
	  <Title>devon4net template for Console project</Title>	  
	  <ImplicitUsings>enable</ImplicitUsings>
	  <Authors>Capgemini, ADCenter Valencia, Traiectum Team</Authors>
	  <Company>Capgemini S.A.</Company>
	  <Description>Console template project. This project shows how to instantiate devon4net and invoke devon4net modules</Description>
	  <Version>6.0.11</Version>
	  <Copyright>Copyright © Capgemini</Copyright>
	  <PackageProjectUrl>https://github.com/devonfw/devon4net</PackageProjectUrl>
	  <RepositoryUrl>https://github.com/devonfw/devon4net</RepositoryUrl>
	  <license>https://raw.githubusercontent.com/devonfw/ide/master/LICENSE</license>
	  <RepositoryType>git</RepositoryType>
	  <PackageTags>devonfw;devon4net;Capgemini;api;console</PackageTags>
	  <PackageReleaseNotes>NET 6.0+ compatibility version</PackageReleaseNotes>
	  <PackageIcon>devonfw.png</PackageIcon>
	  <PackageReadmeFile>README.md</PackageReadmeFile>
	  <PackageLicenseFile>LICENSE</PackageLicenseFile>
	  <PackageRequireLicenseAcceptance>True</PackageRequireLicenseAcceptance>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Devon4Net.Infrastructure.Common" Version="6.0.11" />
    <PackageReference Include="Devon4Net.Infrastructure.Logger" Version="6.0.11" />
{{#if circuitbreaker}}
    <PackageReference Include="Devon4Net.Infrastructure.CircuitBreaker" Version="6.0.11" />
{{/if}}
{{#if rabbitmq}}
    <PackageReference Include="Devon4Net.Infrastructure.RabbitMQ" Version="6.0.11" />
{{/if}}
{{#if mediatr}}
    <PackageReference Include="Devon4Net.Infrastructure.MediatR" Version="6.0.11" />
{{/if}}
{{#if kafka}}
    <PackageReference Include="Devon4Net.Infrastructure.Kafka" Version="6.0.11" />
{{/if}}
{{#if nexus}}
    <PackageReference Include="Devon4Net.Infrastructure.Nexus" Version="6.0.11" /> 
{{/if}}
  </ItemGroup>

  <ItemGroup>
    <None Update="appsettings.Development.json">
      <CopyToOutputDirectory>PreserveNewest</CopyToOutputDirectory>
    </None>
    <None Update="appsettings.json">
      <CopyToOutputDirectory>PreserveNewest</CopyToOutputDirectory>
    </None>
  </ItemGroup>

</Project>
